<h1>Hai, {{name}}!</h1>

<p>Selamat, Anda telah terdaftar sebagai agen Worldie!</p>
<p>Silakan login menggunakan email dan password yang telah Anda gunakan sebelumnya.</p>

<p>Jika Anda memiliki pertanyaan, silakan kirimkan ke <a href="mailto:worldie.atw@gmail.com">worldie.atw@gmail.com</a>.</p>

<p>Salam,<br />Worldie</p>