<h1>Hai, {{name}}!</h1>

<p>Maaf, dengan berat hati kami menyampaikan bahwa pendaftaran Anda sebagai agen Worldie telah kami tolak.</p>

<p>Jika Anda memiliki pertanyaan, silakan kirimkan ke <a href="mailto:{{email}}">{{email}}</a>.</p>

<p>Salam,<br />Worldie</p>